{% extends "static.html" %}

{% block page-info %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a class="breadcrumb">Student Council</a>
            <a href="#!" class="breadcrumb">Announcements</a>
        </div>
    </div>
    <div class="row">
        <h1 class="title">Announcements</h1>
    </div>
</div>
{% endblock %}

{% block content %}
{% load static %}
<link href="{% static 'site/css/message.css' %}" rel="stylesheet">

<div class="container">
     <div class="collection">
            {% for item in announcements %}
                <a class="collection-item avatar" href="/announce/{{item.id}}" style="padding-left:80px">
                        <img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
                        <br><span class="title">{{item.title}}</span>
                </a>
            {% endfor %}
      </div>
  </div>
{% endblock %}
