{% extends "static.html" %}
{% load django_markdown %}
{% load thumbnail %}
{% block page-info %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Blog</a>
            <a href="#!" class="breadcrumb">Adobe – An opportunity to Dreamweave your summer</a>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
{% load static %}
<link href="{% static 'site/css/message.css' %}" rel="stylesheet">
    <div class="container">
        <div class="row">
        <h3 class="title">{{article.title}}</h3>
            </div>

</div>

<div class="container">


    <!--<div class="row left-align">

        <h7> Chandraketan Sahu is a final year student of Computer Science and Engineering. He is an atheist, and enjoys reading novels, listening to Hindi music and following politics. Chandraketan spends his free time writing, both in Hindi and in English </h7>
    </div>
    <div class="row right-align">
              <img style="float: right; margin: -50px 15px 15px 0px;" width =100 height =100 class="responsive-img"  src="{% static 'site/img/2014-02-04-03580.jpg' %}">
    </div>
    -->


    <div class ="row center-align">
        <img height=700 class="responsive-img"  src="/media/{{article.article_pic}}">
    </div>
</div>
    <div class="row">
    <!--     <div class="row">
        <div class="col s8 push-s2"> -->
    <div class="col s10 push-s1 flow-text "
     style="text-align:justify">
    <article >{{article.content|markdown}}</article>
    <div>

    <!--         </div>
    </div> -->
    </div>
    <br>
    <div class="card-panel grey lighten-3 offset-l3" >
    <div class="row valign-wrapper">
    <div class="col s4 ">
                    <img width="100" height= "100" class="responsive-img circle tall"
                 src="{{article.author.prof_pic.avatar.url}}"/>
    </div>
    <div class="col s6 row center-align ">
        <h1 class="flow-text"> <strong>{{article.author.name}}</h1>
    </div>
</div>
    <div class="row">
        <div class="col s12">
                <h6 class="custom1">{{article.author.blurb}} </h6>
                <br>
                <h6 class="custom1">
                    <strong>Published </strong> {{article.published}}
                </h6>
        </div>
    </div>
    </div>
</div>



{% endblock %}
