<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NITK Student Council</title>

  <!-- Load Core Materialize CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this site -->
  {% block styles %}
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
  {% endblock styles %}

  <!-- Custom tags for the head tag -->
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
  {% block navbar %}
  <nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NITK SC</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% endblock %}

{% block footer %}
  <footer class="page-footer black lighten">
    <div class="footer-copyright">
      <div class="container center">
      Built with <3 at <a class="blue-text text-lighten-3" href="http://ienitk.in">IE-NITK</a>
      </div>
    </div>
  </footer>
{% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}

  </body>
</html>
