<!DOCTYPE html>
{% block html %}
<html lang="en" class="bg-nitk">
{% endblock html %}

{% load staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NITK Student Council</title>

  <!-- Load Core Materialize CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this site -->
  {% block styles %}
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
  {% endblock styles %}

  <!-- Custom tags for the head tag -->
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
  {% block navbar %}
  <ul id="dropdown1"class="dropdown-content center-align">
    <li><a href="/message">Message from the President</a></li>
    <li><a href="/represent">Meet the Representatives</a></li>
    <li><a href="">Minutes of the Meeting</a></li>
    <li><a href="/announce">Announcements</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content center-align">
    <li><a href="/news">News</a></li>
    <li class="divider"></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li class="divider"></li>
    <li><a href="/nitk_life">NITK Life</a></li>
    <li class="divider"></li>
    <li><a href="/clublife">Club Life</a></li>
  </ul>
  <ul id="dropdown3" class="dropdown-content center-align">
    <li><a href="">Achievements and Agenda</a></li>
    <li><a href="">Opportunities</a></li>
    <li class="divider"></li>
    <li><a href="/contacts">Contact Numbers</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
  <div class="navbar-fixed">
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">NITK SC</a>
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Student Council<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">What's New<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Miscellaneous<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="">Login</a></li>
        </ul>
        <ul id="slide-out" class="side-nav collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Student Council</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/message">Message from the President</a></li>
                  <li><a href="/represent">Meet the Representatives</a></li>
                  <li><a href="">Minutes of the Meeting</a></li>
                  <li><a href="/announce">Announcements</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">What's New</a>
            <div class="collapsible-body">
                <ul>
                 <li><a href="/news">News</a></li>
                 <li class="divider"></li>
                 <li><a href="/events">Events</a></li>
                 <li><a href="/calendar">Calendar</a></li>
                 <li class="divider"></li>
                 <li><a href="/nitk_life">NITK Life</a></li>
                 <li class="divider"></li>
                 <li><a href="/clublife">Club Life</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a href="" class="collapsible-header waves-effect waves-teal">Achievements and Agenda</a></li>
            <li class="bold"><a href="" class="collapsible-header waves-effect waves-teal">Opportunities</a></li>
            <li class="bold"><a href="/contacts" class="collapsible-header waves-effect waves-teal">Contact Numbers</a></li>
            <li class="bold"><a href="/faq" class="collapsible-header waves-effect waves-teal">FAQ</a></li>
          </ul>
          <a href="" id="sidenav" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </div>

  {% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  <footer class="page-footer black lighten">
    <div class="container">
            <div class="row">
              <div class="col s12 m6">
                <h5 class="white-text">NITK Student Council</h5>
                <p class="grey-text text-lighten-4">To know more about the Student Council</p>
              </div>
              <div class="col m4 offset-m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
    <div class="footer-copyright">
      <div class="container center">
      Built with <i class="fa fa-heart"></i> at <a class="blue-text text-lighten-3" href="http://ienitk.in">IE-NITK</a>
      </div>
    </div>
  </footer>
{% endblock %}

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

  {% block scripts %}
    <script type="text/javascript">

    $(document).ready(function(){

      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav({
        menuWidth: 320, // Default is 240
        edge: 'left',
        closeOnClick: true
      });

    });
    </script>
  {% endblock scripts %}

  </body>
</html>
