{% extends "static.html" %}
{% load django_markdown %}

{% block page-info %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Blog</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load static %}
<link href="{% static 'site/css/main.css' %}" rel="stylesheet">

{% for item in article %}
	<div class="row">
		<div class="col s6 m6">
			<div class="card-panel grey lighten-5 fixed-height">
				<h3 class="align-left"><a href="/blog/{{item.id}}"> {{item.title}} </a></h3>
				<div class= "row">
						<p>
							<h6>By {{item.author.name}}</h6>
              {{item.content|markdown|truncatechars_html:200}}
						</p>
					</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
