{% extends "static.html" %}

{% block page-info %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Blog</a>
        </div>
    </div>
    <div class="row">
        <h1 class="title">Blog</h1>
    </div>
</div>
{% endblock %}

{% block content %}
{% load static %}
<link href="{% static 'site/css/main.css' %}" rel="stylesheet">


	<div class="row">
		<div class="col s6 m6">
			<div class="card-panel grey lighten-5 fixed-height">
				<h3 class="align-left"><a href="#"> Let's Talk About Ragging </a></h3>
				<div class= "row">
						<p>

											<h6>By Kishan Sagathiya</h6>
I remember one student sitting in a corner surrounded by ten guys who were kicking him like crazy. He didn't even try to fight back. He suffered like all of them did. It was not that they were weak.They were actually stronger than some of the 12th grade students. It wasn't even that they weren't united. It was just that they were scared, in a place far from their homes.

						</p>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6 m6">
				<div class="card-panel grey lighten-5 fixed-height">
					<h3 class="align-left"><a href="#"> Let's Talk About Ragging </a></h3>
					<div class= "row">
							<p>

												<h6>By Kishan Sagathiya</h6>
	I remember one student sitting in a corner surrounded by ten guys who were kicking him like crazy. He didn't even try to fight back. He suffered like all of them did. It was not that they were weak.They were actually stronger than some of the 12th grade students. It wasn't even that they weren't united. It was just that they were scared, in a place far from their homes.

							</p>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6 m6">
					<div class="card-panel grey lighten-5 fixed-height">
						<h3 class="align-left"><a href="#"> Let's Talk About Ragging </a></h3>
						<div class= "row">
								<p>

													<h6>By Kishan Sagathiya</h6>
		I remember one student sitting in a corner surrounded by ten guys who were kicking him like crazy. He didn't even try to fight back. He suffered like all of them did. It was not that they were weak.They were actually stronger than some of the 12th grade students. It wasn't even that they weren't united. It was just that they were scared, in a place far from their homes.

								</p>
							</div>
					</div>
				</div>
				<div class="row">
					<div class="col s6 m6">
						<div class="card-panel grey lighten-5 fixed-height">
							<h3 class="align-left"><a href="#"> Let's Talk About Ragging </a></h3>
							<div class= "row">
									<p>

														<h6>By Kishan Sagathiya</h6>
			I remember one student sitting in a corner surrounded by ten guys who were kicking him like crazy. He didn't even try to fight back. He suffered like all of them did. It was not that they were weak.They were actually stronger than some of the 12th grade students. It wasn't even that they weren't united. It was just that they were scared, in a place far from their homes.

									</p>
								</div>
						</div>
					</div>
	</div>{% endblock %}
