{% extends "static.html" %}

{% block page-info %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">News</a>
        </div>
    </div>
    <div class="row">
        <h1 class="title">News</h1>
    </div>
</div>
{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'site/css/message.css' %}" rel="stylesheet">

<div class="container">
  <div class="row valign-wrapper">
    <div class="col s12">
      <img class="responsive-img" src="{% static 'site/img/sample.jpg' %}">
    </div>

  </div>
  <div class="row flow-text">

    <div class="col s12">
      <h2>{{ news.title }}</h2>
      <article >
          {{ news.details }}
      </article>

    </div>
  </div>
</div>
{% endblock %}
