{% extends "base.html" %}

{% block html %}
<html lang="en">
{% endblock %}

{% block content %}

<!-- We need a jumbotron here -->

<div class="corporate-jumbo">
	<!-- CSS for text within the jumbotron havent been defined -->
	<div class="container">
		<div class="row">
			<h1>NITK<br>Students' Council</h1>
			<a href="#more" class="btn2 btn2-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
		</div>
	</div>
</div>
<section id="more">
<div class="row bg-white">



<div class="row">
        <br><br><br>
	<div class="col s12 m4 l2">
		<h5 class="center-align">Navigation</h5>
		<ul>
		  
		  <li class="no-padding">
		    <ul class="collapsible collapsible-accordion">
		      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Student Council</a>
		        <div class="collapsible-body">
		          <ul class="center-align">
		            <li><a href="">Meassage from the President</a></li>
		            <li><a href="">Meet the Representatives</a></li>
		            <li><a href="">Announcements</a></li>
		            <li><a href="">Minutes of Meeting</a></li>
		          </ul>
		        </div>
		      </li>
		      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">What's New</a>
		        <div class="collapsible-body">
		          <ul class="center-align">
		          	<li><a href="">News</a></li>
		          	<li><a href="">Events</a></li>
		          	<li><a href="">Calender</a></li>
		          	<li><a href="">Blog</a></li>
		          	<li><a href="">Club Life</a></li>
		          </ul>
		        </div>
		      </li>
		      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Miscellaneous</a>
		        <div class="collapsible-body">
		          <ul class="center-align">
		           	<li><a href="">Achievements and Agenda</a></li>
		           	<li><a href="">Opportunities</a></li>
		           	<li><a href="">Contact Numbers</a></li>
		           	<li><a href="">FAQ</a></li>
		          </ul>
		        </div>
		      </li>
		    </ul>
		  </li>
		</ul>
		      


	</div>
	
	<div class="col s12 m8 l10">
		<div class="row">
			<div class="col s12 l4">
				<div class="grey-text">
		          <div class="icon-block">
		            <h1 class="center black-text"><i class="material-icons">event</i></h1>
		            <h5 class="center"><a href="">Events</a></h5>
		          </div>
		        </div>
				<div class="row">
			        <div class="col s12">
			          <div class="card white">
			            <div class="card-content blue-text text-darken-4">
			              <span class="card-title">What's happening in college?</span>
			             		<ul>
			                      <li>
			                      	<a href="" class="event_item">
			                      		<div class="event_datetime">
			                      			<span class="event_month">FEB</span>
			                      			<span class="event_day">21</span>
			                      			<span class="event_time">Ongoing</span>
			                      		</div>
			                      		<div class="event_name">
			                      			<span>  Website development</span>
			                      		</div>
			                      	</a>
			                      </li>
			                      <li>
			                      	<a href="" class="event_item">
			                      		<div class="event_datetime">
			                      			<span class="event_month">FEB</span>
			                      			<span class="event_day">21</span>
			                      			<span class="event_time">Ongoing</span>
			                      		</div>
			                      		<div class="event_name">
			                      			<span> King of the Hill</span>
			                      		</div>
			                      	</a>
			                      </li>
			                      <li>
			                      	<a href="" class="event_item">
			                      		<div class="event_datetime">
			                      			<span class="event_month">FEB</span>
			                      			<span class="event_day">24</span>
			                      			<span class="event_time">7:00pm</span>
			                      		</div>
			                      		<div class="event_name">
			                      			<span> Event 3</span>
			                      		</div>
			                      	</a>
			                      </li>
			                      <li>
			                      	<a href="" class="event_item">
			                      		<div class="event_datetime">
			                      			<span class="event_month">FEB</span>
			                      			<span class="event_day">26</span>
			                      			<span class="event_time">2:00pm</span>
			                      		</div>
			                      		<div class="event_name">
			                      			<span> Event 4</span>
			                      		</div>
			                      	</a>
			                      </li>
			                    </ul>
			            </div>
			            <div class="card-action">
			              <a href="#">View All Events</a>
			              <a href="#">Calender</a>
			              <a href="">Club Life</a>
			            </div>
			          </div>
			        </div>
			    </div>
			</div>

			<div class="col s12 l4">
		        <div class="grey-text">
		          <div class="icon-block">
		            <h1 class="center black-text"><i class="material-icons">speaker_notes</i></h1>
		            <h5 class="center"><a href="">News</a></h5>
		          </div>
		        </div>
				<div class="row">
			        <div class="col s12">
			          <div class="card white">
			            <div class="card-content blue-text text-darken-4">
			              <span class="card-title">Top Stories</span>
			             		<ul class="collection">
			                      <li class="collection-item dismissable"><div><a href="#!">IE NITK almost done building v 0.0.1 of the student council website</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">News 2</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">News 3</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">News 4</a></div></li>
			                    </ul>
			            </div>
			            <div class="card-action">
			              <a href="#">More News</a>
			            </div>
			          </div>
			        </div>
			    </div>
			</div>

			<div class="col s12 l4">
				<div class="grey-text">
		          <div class="icon-block">
		            <h1 class="center black-text"><i class="material-icons">book</i></h1>
		            <h5 class="center"><a href="">Blog</a></h5>
		          </div>
		        </div>
				<div class="row">
			        <div class="col s12">
			          <div class="card white">
			            <div class="card-content blue-text text-darken-4">
			              <span class="card-title">The Beach Side Blues</span>
			             		<ul class="collection">
			                      <li class="collection-item dismissable"><div><a href="">The IE life blog</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">Blog 2</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">Blog 3</a></div></li>
			                      <li class="collection-item dismissable"><div><a href="">Blog 4</a></div></li>
			                    </ul>
			            </div>
			            <div class="card-action">
			              <a href="#">More Blogs</a>
			            </div>
			          </div>
			        </div>
			    </div>
			</div>
		</div>
		
	</div>
</div>

</div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}
