{% extends "static.html" %}
{% load thumbnail %}

{% block page-info %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<a href="/" class="breadcrumb">Home</a>
			<a class="breadcrumb">News and Events</a>
			<a href="#!" class="breadcrumb">News</a>
		</div>
	</div>
</div>
{% endblock %}

<!-- 
	Format to add to my calendar:

	<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=[event-title]&dates=YearMonthDateTHoursMinute00Z/YearMonthDateTHoursMinutes00Z&details=DetailsOfTheEvent&location=Location&trp=false&sprop=&sprop=name:" target="_blank" rel="nofollow">Add to my calendar</a>
-->
<!--
	Format to add share event on Facebook:
	
	First add your AppID in the script tag at the bottom.

	<div id="fb-root"></div>
	
	<div class="fb-share-button" data-href="ENTER SHARE LINK HERE" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" class="fb-xfbml-parse-ignore">Share</a></div>
-->
{% block content %}
{% load static %}
<link href="{% static 'site/css/message.css' %}" rel="stylesheet">
	<div class="row center-align">
		<ul class="tabs">
			<li class="tab col s12" id="campusNews"><a href="">Campus News</a></li>
			<li class="tab col s12" id="inTheNew"><a href="">In the News</a></li>
			<li class="tab col s12" id="spotLights"><a href="">Spotlights</a></li>
		</ul>
	</div>
<div class="row">
	<div id="campus">
		<div class="col s12">
			<div class="collection">
				<a class="collection-item avatar" href="/news/{{item.id}}" style="padding-left:80px">
					<img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
					<br><span class="title">Test</span>
				</a>
				<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Udaan&dates=20140127T224000Z/20140320T221500Z&details=Kite+Festival&location=NITK+Surathkal&trp=false&sprop=&sprop=name:" target="_blank" rel="nofollow">Add to my calendar</a>
				<div id="fb-root"></div>
				<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" class="fb-xfbml-parse-ignore">Share</a></div>
			</div>
		</div>
		<div class="col s12">
			<div class="collection">
				<a class="collection-item avatar" href="/news/{{item.id}}" style="padding-left:80px">
					<img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
					<br><span class="title">Test 2</span>
				</a>
				<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Udaan&dates=20140127T224000Z/20140320T221500Z&details=Kite+Festival&location=NITK+Surathkal&trp=false&sprop=&sprop=name:" target="_blank" rel="nofollow">Add to my calendar</a>
				<div id="fb-root"></div>
				<div class="fb-share-button" data-href="http://students.nitk.ac.in/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" class="fb-xfbml-parse-ignore">Share</a></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="campus">
		<div class="col s12">
			<div class="collection">
				{% for item in campus %}
				<a class="collection-item avatar" href="/news/{{item.id}}" style="padding-left:80px">
					<img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
					<br><span class="title">{{ item.title }}</span>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="inthenews">
		<div class="col s12">
			<div class="collection">
				{% for item in inthenews %}
				<a class="collection-item avatar" href="/news/{{item.id}}" style="padding-left:80px">
					<img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
					<br><span class="title">{{ item.title }}</span>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div id="spotlight">
		<div class="col s12">
			<div class="collection">
				{% for item in spotlight %}
				<a class="collection-item avatar" href="/news/{{item.id}}" style="padding-left:80px">
					<img class="biggercircle" src="{{ item.thumbnail.avatar.url }}" alt="" />
					<br><span class="title">{{ item.title }}</span>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(document).ready(function(){
	$(".dropdown-button").dropdown();
	$(".button-collapse").sideNav({
		menuWidth: 320, // Default is 240
		edge: 'left',
		closeOnClick: true
	});

	$("#inthenews").hide();
	$("#spotlight").hide();

	$("#campusNews").click(function(){
		$("#campus").show();
		$("#inthenews").hide();
		$("#spotlight").hide();
	});

	$("#inTheNew").click(function(){
		$("#campus").hide();
		$("#inthenews").show();
		$("#spotlight").hide();
	});

	$("#spotLights").click(function(){
		$("#campus").hide();
		$("#inthenews").hide();
		$("#spotlight").show();
	});
});

</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=[ENTER YOUR APP ID HERE]&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</script>
{% endblock scripts %}
