{% extends "static.html" %}
{% block page-info %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">NITK Life</a>
    </div>
  </div>
  <div class="row ">
    <h1 class="title">NITK Life</h1>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

	<div  id="page-tabs" class="row">
        <div class="col s12">
          <ul class="tabs blue-text text-darken-2" >
           
            <li class="tab"><a href="#inside_nitk">Inside Nitk</a></li>
            <li class="tab"><a href="#fest">Fests</a></li>
            <li class="tab"><a href="#academics">Academics</a></li>
            <li class="tab"><a href="#hostels">Hostels</a></li>
          </ul>
        </div>

    </div>

   

    <div id="inside_nitk">
       <div id="splash-wrap">
            <div class="main-wrap">
                <div id="content-section">
                    <div id='wsite-content' class='wsite-elements wsite-not-footer'>
                        <h2 class="wsite-content-title" style="text-align:center;">&nbsp;INSIDE LIFE</h2>
                        <h3 class="align-left">FACILITIES</h3>
                                              
                          
                       
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Silver Jubliee Auditorium </h3>
                              <div class= "row">
                                <div class="col s12 m5 l5">
                                  <img src="" alt="sja">
                                </div>
                                <div class="col s12 m7 l7">
                                  <p> <span class="black-text">SJA is a huge auditorium that regularly hosts major events of NITK. Formed to commemorate NITK's Silver Jubilee, it is the projection of NITK’s pride as one of the top engineering institutions in the country.<br>
      
                                  The SJA has a capacity of around 1000. It is well ventilated and also has a balcony housing. SJA is decked up for all major occasions and looks rather stunning during the nights. As a fresher one should not miss the musical nights that take place. Those are truly performances worth cherishing.<br>

                                  It basically serves as an auxiliary to the Students Activity Center (SAC). Noted musicians and vocalists regularly visit and give performances in this auditorium. <br>

                                  The building is centrally located in the campus just adjacent to Physics/Chemistry Dept.<br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> STUDENTS' ACtivity center (SAC)</h3>
                              <div class= "row">
                                <div class="col s12 m5 l5">
                                  <img src="" alt="sac">
                                </div>
                                <div class="col s12 m7 l7">
                                  <p> <span class="black-text">
                                      Students activity centre is a place right beside the HCC and in front of the basketball court. It's quite a serene and calm place on a normal day.
                                      <br>
                                      Come the fests and this place will be busy buzzing with students as all the major performances and events take place here. Its quite an amazing place to sit and enjoy.
                                      <br>
                                      And that’s not it, Films and plays will be regularly screened and sometimes cricket matches are also shown. A great atmosphere makes this place awesome during the shows.
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Library </h3>
                              <div class= "row">
                                <div class="col s12 m5 l5">
                                  <img src="" alt="sja">
                                </div>
                                <div class="col s12 m7 l7">
                                  <p> <span class="black-text">The NITK Library is housed in a spacious three-storied independent building adjoining the Main building of the Institute on the Southern side of the campus. The library, with a floor area of about 3,410 Sq mtrs., is segregated into two wings. 
                                  <br>
                                  Periodicals, journals and bound volumes are accessible in the Western wing, while books are housed in the Eastern wing. The library has an open access system and is organized into various sections.
                                  <br>
                                  The library has a whopping collection of 159752 books (give or take). Three reading halls which can accommodate a total of 600 students provides the peaceful and friendly atmosphere for absorbing the knowledge available through books. The digital library facility is also present.
                                  <br>
                                  A computer terminal provided at the counter near the entrance can be used to gain information regarding availability and particulars of any book. The in-house activities of the Library have been computerized. A bar-coded system of issue and return of books is currently in use.The library also has a compilation of a wide range of e-books which is pretty awesome.<br><br>

                                  </span></p>
                                </div>
                              </div>
                             

                                      <table class="bordered highlight centered">
                                       <h4> Timings </h4>

                                        <tbody>
                                          <tr>
                                            <td>Weekdays</td>
                                            <td>8:30 am to 8 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Saturday</td>
                                            <td>9 am to 5 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Sundays and Holidays</td>
                                            <td>9 am to 1 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Exam time</td>
                                            <td>8:30 am to 0:00 am</td>
                                          </tr>
                                          <tr>
                                            <td>Vacations</td>
                                            <td>9 am to 5 pm</td>
                                          </tr>
                                        </tbody>
                                      </table>
                               

                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Health Care Centre</h3>
                              <div class= "row">
                                <div class="col s12 m5 l5">
                                  <img src="" alt="hcc">
                                </div>
                                <div class="col s12 m7 l7">
                                  <p> <span class="black-text">
                                    The Health Care Centre also known as HCC is a unique facility. Free doctors + medicine! You really couldn’t ask for more. Many private colleges do not have such a facility. It is situated in the centre of the campus opposite the main grounds.

                                    <br>Plus, in case of emergency there is always a doctor in NITK Campus. NITK has recently inducted 2 or 3 24-hour ambulances for emergency. All this for just Rs. 815 a year. :P

                                    <br>Do you know that you will be covered under a medical insurance by HCC, NITK ? ( This is provided by Vidal Health Administrative Services which will provide you with a health card and a list of hospitals where you can avail this service. It's available throughout Karnataka in almost all major hospitals :P.

                                    <br>You can claim lakhs of money in case you undergo some medical treatment in and around Mangalore. There is a cashless service too. You can even get rebate in consultancy fees of top-notch doctors in Mangalore Hospitals and almost all the hospitals are covered.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Main Building</h3>
                              <div class= "row">
                                <div class="col s12 m6 l6">
                                  <img src="" alt="mb1">
                                </div>
                                <div class="col s12 m6 l6">
                                  <img src="" alt="mb2">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    
                                    This is the mother of all buildings at NITK. Here lies the Administration office and all the officials’ office. From the Dean and the Director to the peon, everyone’s office can be found here. Visit this place for all official purposes. ( A word of warning, don’t enter this building in shorts or you are done for :P)<br>

                                    There are two seminar halls in this building namely - Main Seminar Hall (MSH) and the ISTE seminar hall. Regular seminars and (boring :P) quizzes take place here.<br>

                                    Coming the new entrants’ point of view, The admission process takes place in these two Seminar halls itself as well as the verification of the documents process.<br>

                                    And then lastly there is a hotel called Samudra darshan on the top floor where you can have regular breakfast/lunch. The  panoramic view from there is one not to be missed.
        
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Workshop</h3>
                              <div class= "row">
                                <div class="col s12 m6 l6">
                                  <img src="" alt="workshop1">
                                </div>
                                <div class="col s12 m6 l6">
                                  <img src="" alt="workshop2">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    
                                   The workshop building was the first building to be set up during the early days of NITK ( or KREC as twas back then). Now it is being used for Mechanical workspace and contains high end sophisticated machines used for machining purposes.<br>

                                    This building was recently renovated and stands next to the Metallurgy department flanked by the CCC on the back.
        
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Campus Map</h3>
                              <div class= "row">
                                <div class="col s12 m12">
                                  <img src="" alt="campus map">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12 m12">
                                  <p> <span class="black-text">
                                      SAC - Students' Activity Center<br>
                                      SJA - Silver Jubilee Auditorium<br>
                                      KREC - Karnataka Regional Engineering College (Version 1.0 of NITK)<br>
                                      ATB - Additional Teaching Block<br>
                                      CCC - Central Computing Center<br>

                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
            
                    </div>
                </div>
            </div>
        </div>
    </div>


	<div id="fest">
		
                       <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left">Engineer</h3>
                              <div class= "row">
                                <div class="col  push-m3 ">
                                  <img src="" alt="engi1">
                                </div>
                               
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                     Engineer is the Annual Technical Symposium of NITK Surathkal and is one of the largest of its kind in India. Started in 2005 as an amalgamation of many technical fests held in NITK Surathkal by its various student clubs, Engineer has grown in leaps and bounds over the years. It is held over 4 days in the second half of the month of October and has consistently attracted participants from all over India. A Penrose Triangle is used as its logo with the tagline 'Think.Create.Engineer'.<br>

                                      In its previous editions, Engineer brought organizations such as CERN, MIT Media and Bell labs while catering to a participation pool of over 6000 students from 150 colleges across 65 countries.<br>

                                      Many technical and entrepreneurship events are held during the fest, including quizzes, Coding marathons, RC car racing and the like. These are broadly classified into various Branch Events. Apart from this, Workshops in a variety of fields are also held. To highlight the social responsibility of Engineers, social/environmental awareness initiatives are undertaken under the banner of SCE (Socially Conscious Engineering). Technites is another major attraction, showcasing the beauty of technology after dark.<br>

                                      Guest speakers of past editions have included Richard Stallman, Sam Pitroda, Manan Shah, Dr. Devi Shetty, Sir Anthony James Leggett, Ankit Fadia and other personalities.<br>

                                 
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                          <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left">Incident</h3>
                              <div class= "row">
                                <div class="col  push-m3 ">
                                  <img src="" alt="inci1">
                                </div>
                               
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    Incident is the second largest cultural festival of South India. It is now a permanent mark on the calendar, during the months of February - March and attracts over 25000 footfalls every year. This huge ingress is justified, as Incident or 'Inci' is replete with a mind-boggling array of things to do and see. It has featured amazing performances by artistes of calibre likef KK, Kunal Ganjawala, Sunidhi Chauhan, Javed Ali and Salim-Sulaiman, as well as bands such as Indian Ocean, Motherjane, Swarathma and Led Zeppelica. International performing artistes like Roy Zaltsman and The Turbans have also performed at incident in the World Fest, held for the first time in 2014.<br>

                                    There are events to participate in - Haute Couture, Promenade, Slam Dunk, Centre Stage, Bandish... to name a few. There are workshops for those who want to learn, quizzes for those who already know it all and Crossfade -the DJ night- for the party freaks. And of course, there is always the beach inviting you to relax or frolic with friends or even go parasailing, if you are adventurous. Now that's something you don't find everywhere.  Incident is a terrific carnival, something no one would want to miss, because when it comes to Incident, there is something in it for everybody.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                           <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left">Crescendo</h3>
                              <div class= "row">
                                <div class="col  push-m3 ">
                                  <img src="" alt="crescendo">
                                </div>
                               
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    

                                    CRESCENDO, the intra-institute cultural festival organized by the NITK Hostellers. It’s like a mini Incident which provides a nice platform to exhibit and showcased the innate social and cultural talents and gives many others a chance to try something new for the first time.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                       <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left">Bharath Darshan</h3>
                              <div class= "row">
                                <div class="col  push-m3 ">
                                  <img src="" alt="bharath">
                                </div>
                               
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    

                                   
                                      BHARATH DARSHAN, the festival celebrating the cultural diversity of India has been conducted as regular features of the Annual Calendar of the Students Council. In this students exhibit the different cultural events of all the states of India thereby built an ultimate platform of social and cultural exchange.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                         
                       <div class="row">
                          <div class="col s12 m12 l12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left">NITK Film Festival</h3>
                              <div class= "row">
                                <div class="col  push-m3 ">
                                  <img src="" alt="filmfestival">
                                </div>
                               
                              </div>
                              <div class="row">
                                <div class="col s12 m12 l12">
                                  <p> <span class="black-text">
                                    
                                    A celebration of Cinema. A group of Film Enthusiasts centered at NITK, Surathkal on a debut venture to bring the best of Indian Cinema to the coastal town. Year 2016, marked the inception of NITK Film Festival.<br>
                                   
                                     NITK Film's Club has been centered at NITK, Surathkal for the past 30 years and have been screening the best of Indian and International Cinema in the Campus. They have taken it up a notch- To celebrate the grandeur of Cinema, Our own Film Festival. To screen and interact with Filmmakers, Screenwriters from all over the country. For the diverse audience in campus, we bring the best from all genres, languages, documentaries, short films and a lot more.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

   


	</div>

	<div id="academics">
		test4
	</div>

	<div id="hostels">
		test5
	</div>


		
</div>

{% endblock %}


	
