{% extends "static.html" %}
{% load staticfiles %}

{% block page-info %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">NITK Life</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

	<div  id="page-tabs" class="row">
        <div class="col s12">
          <ul class="tabs blue-text text-darken-2" >

            <li class="tab"><a href="#inside_nitk">Inside Nitk</a></li>
            <li class="tab"><a href="#fest">Fests</a></li>
            <li class="tab"><a href="#academics">Academics</a></li>
            <li class="tab"><a href="#sports">Sports</a></li>
            <li class="tab"><a href="#clublife">Club Life</a></li>

          </ul>
        </div>

    </div>



    <div id="inside_nitk">
       <div id="splash-wrap">
            <div class="main-wrap">
                <div id="content-section">
                    <div id='wsite-content' class='wsite-elements wsite-not-footer'>
                        <h2 class="wsite-content-title" style="text-align:center;">&nbsp;INSIDE LIFE-FACILITIES</h2>




                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Silver Jubliee Auditorium </h3>
                              <div class= "row">
                                <div class="col s12 l6">
                                  <img src="{% static 'site/img/sja.jpg' %}" alt="sja" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 l6">
                                  <p> <span class="black-text">SJA is a huge auditorium that regularly hosts major events of NITK. Formed to commemorate NITK's Silver Jubilee, it is the projection of NITK’s pride as one of the top engineering institutions in the country.<br>

                                  The SJA has a capacity of around 1000. It is well ventilated and also has a balcony housing. SJA is decked up for all major occasions and looks rather stunning during the nights. As a fresher one should not miss the musical nights that take place. Those are truly performances worth cherishing.<br>

                                  It basically serves as an auxiliary to the Students Activity Center (SAC). Noted musicians and vocalists regularly visit and give performances in this auditorium. <br>

                                  The building is centrally located in the campus just adjacent to Physics/Chemistry Dept.<br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> STUDENTS' ACtivity center (SAC)</h3>
                              <div class= "row">
                                <div class="col s12 l6">
                                  <img src="{% static 'site/img/sac.jpg' %}" alt="sac" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 l6">
                                  <p> <span class="black-text">
                                      Students activity centre is a place right beside the HCC and in front of the basketball court. It's quite a serene and calm place on a normal day.
                                      <br>
                                      Come the fests and this place will be busy buzzing with students as all the major performances and events take place here. Its quite an amazing place to sit and enjoy.
                                      <br>
                                      And that’s not it, Films and plays will be regularly screened and sometimes cricket matches are also shown. A great atmosphere makes this place awesome during the shows.
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Library </h3>
                              <div class= "row">
                                <div class="col s12 l6">
                                  <img src="{% static 'site/img/library.jpg' %}" alt="library" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 l6">
                                  <p> <span class="black-text">The NITK Library is housed in a spacious three-storied independent building adjoining the Main building of the Institute on the Southern side of the campus. The library, with a floor area of about 3,410 Sq mtrs., is segregated into two wings.
                                  <br>
                                  Periodicals, journals and bound volumes are accessible in the Western wing, while books are housed in the Eastern wing. The library has an open access system and is organized into various sections.
                                  <br>
                                  The library has a whopping collection of 159752 books (give or take). Three reading halls which can accommodate a total of 600 students provides the peaceful and friendly atmosphere for absorbing the knowledge available through books. The digital library facility is also present.
                                  <br>
                                  A computer terminal provided at the counter near the entrance can be used to gain information regarding availability and particulars of any book. The in-house activities of the Library have been computerized. A bar-coded system of issue and return of books is currently in use.The library also has a compilation of a wide range of e-books which is pretty awesome.<br><br>

                                  </span></p>
                                </div>
                              </div>


                                      <table class="bordered highlight centered">
                                       <h5> Timings </h5>

                                        <tbody>
                                          <tr>
                                            <td>Weekdays</td>
                                            <td>8:30 am to 8 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Saturday</td>
                                            <td>9 am to 5 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Sundays and Holidays</td>
                                            <td>9 am to 1 pm</td>
                                          </tr>
                                          <tr>
                                            <td>Exam time</td>
                                            <td>8:30 am to 0:00 am</td>
                                          </tr>
                                          <tr>
                                            <td>Vacations</td>
                                            <td>9 am to 5 pm</td>
                                          </tr>
                                        </tbody>
                                      </table>


                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Health Care Centre</h3>
                              <div class= "row">
                                <div class="col s12 l6">
                                  <img src="{% static 'site/img/hcc.jpg' %}" alt="hcc" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 l6">
                                  <p> <span class="black-text">
                                    The Health Care Centre also known as HCC is a unique facility. Free doctors + medicine! You really couldn’t ask for more. Many private colleges do not have such a facility. It is situated in the centre of the campus opposite the main grounds.

                                    <br>Plus, in case of emergency there is always a doctor in NITK Campus. NITK has recently inducted 2 or 3 24-hour ambulances for emergency. All this for just Rs. 815 a year. :P

                                    <br>Do you know that you will be covered under a medical insurance by HCC, NITK ? ( This is provided by Vidal Health Administrative Services which will provide you with a health card and a list of hospitals where you can avail this service. It's available throughout Karnataka in almost all major hospitals :P.

                                    <br>You can claim lakhs of money in case you undergo some medical treatment in and around Mangalore. There is a cashless service too. You can even get rebate in consultancy fees of top-notch doctors in Mangalore Hospitals and almost all the hospitals are covered.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Main Building</h3>
                              <div class= "row">
                                <div class="col s12 m6">
                                  <img src="{% static 'site/img/mb1.jpg' %}" alt="mb1" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 m6">
                                  <img src="{% static 'site/img/hcc.jpg' %}" alt="mb2" style="display:block;height:auto;width:100%">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12">
                                  <p> <span class="black-text">

                                    This is the mother of all buildings at NITK. Here lies the Administration office and all the officials’ office. From the Dean and the Director to the peon, everyone’s office can be found here. Visit this place for all official purposes. ( A word of warning, don’t enter this building in shorts or you are done for :P)<br>

                                    There are two seminar halls in this building namely - Main Seminar Hall (MSH) and the ISTE seminar hall. Regular seminars and (boring :P) quizzes take place here.<br>

                                    Coming the new entrants’ point of view, The admission process takes place in these two Seminar halls itself as well as the verification of the documents process.<br>

                                    And then lastly there is a hotel called Samudra darshan on the top floor where you can have regular breakfast/lunch. The  panoramic view from there is one not to be missed.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Workshop</h3>
                              <div class= "row">
                                <div class="col s12 m6">
                                  <img src="{% static 'site/img/workshop1.jpg' %}" alt="wk1" style="display:block;height:auto;width:100%">
                                </div>
                                <div class="col s12 m6">
                                 <img src="{% static 'site/img/workshop2.jpg' %}" alt="wk2" style="display:block;height:auto;width:100%">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12">
                                  <p> <span class="black-text">

                                   The workshop building was the first building to be set up during the early days of NITK ( or KREC as twas back then). Now it is being used for Mechanical workspace and contains high end sophisticated machines used for machining purposes.<br>

                                    This building was recently renovated and stands next to the Metallurgy department flanked by the CCC on the back.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> Campus Map</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/campusmap.png' %}" alt="campusmap" style="display:block;height:auto;width:100%">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12">
                                  <p> <span class="black-text">
                                      SAC - Students' Activity Center<br>
                                      SJA - Silver Jubilee Auditorium<br>
                                      KREC - Karnataka Regional Engineering College (Version 1.0 of NITK)<br>
                                      ATB - Additional Teaching Block<br>
                                      CCC - Central Computing Center<br>

                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


	<div id="fest">

                       <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="center-align">Engineer</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/engi1.jpg' %}" alt="engi1" style="display:block;height:auto;width:100%">
                                </div>


                                <div class="col s12">
                                  <p> <span class="black-text">
                                     Engineer is the Annual Technical Symposium of NITK Surathkal and is one of the largest of its kind in India. Started in 2005 as an amalgamation of many technical fests held in NITK Surathkal by its various student clubs, Engineer has grown in leaps and bounds over the years. It is held over 4 days in the second half of the month of October and has consistently attracted participants from all over India. A Penrose Triangle is used as its logo with the tagline 'Think.Create.Engineer'.<br>

                                      In its previous editions, Engineer brought organizations such as CERN, MIT Media and Bell labs while catering to a participation pool of over 6000 students from 150 colleges across 65 countries.<br>

                                      Many technical and entrepreneurship events are held during the fest, including quizzes, Coding marathons, RC car racing and the like. These are broadly classified into various Branch Events. Apart from this, Workshops in a variety of fields are also held. To highlight the social responsibility of Engineers, social/environmental awareness initiatives are undertaken under the banner of SCE (Socially Conscious Engineering). Technites is another major attraction, showcasing the beauty of technology after dark.<br>

                                      Guest speakers of past editions have included Richard Stallman, Sam Pitroda, Manan Shah, Dr. Devi Shetty, Sir Anthony James Leggett, Ankit Fadia and other personalities.<br>


                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                          <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="center-align">Incident</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/inci1.jpg' %}" alt="inci1" style="display:block;height:auto;width:100%">
                                </div>


                                <div class="col s12">
                                  <p> <span class="black-text">
                                    Incident is the second largest cultural festival of South India. It is now a permanent mark on the calendar, during the months of February - March and attracts over 25000 footfalls every year. This huge ingress is justified, as Incident or 'Inci' is replete with a mind-boggling array of things to do and see. It has featured amazing performances by artistes of calibre likef KK, Kunal Ganjawala, Sunidhi Chauhan, Javed Ali and Salim-Sulaiman, as well as bands such as Indian Ocean, Motherjane, Swarathma and Led Zeppelica. International performing artistes like Roy Zaltsman and The Turbans have also performed at incident in the World Fest, held for the first time in 2014.<br>

                                    There are events to participate in - Haute Couture, Promenade, Slam Dunk, Centre Stage, Bandish... to name a few. There are workshops for those who want to learn, quizzes for those who already know it all and Crossfade -the DJ night- for the party freaks. And of course, there is always the beach inviting you to relax or frolic with friends or even go parasailing, if you are adventurous. Now that's something you don't find everywhere.  Incident is a terrific carnival, something no one would want to miss, because when it comes to Incident, there is something in it for everybody.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                           <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="center-align">Crescendo</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/crescendo.jpg' %}" alt="crescendo" style="display:block;height:auto;width:100%">
                                </div>


                                <div class="col s12">
                                  <p> <span class="black-text">


                                    CRESCENDO, the intra-institute cultural festival organized by the NITK Hostellers. It’s like a mini Incident which provides a nice platform to exhibit and showcased the innate social and cultural talents and gives many others a chance to try something new for the first time.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                       <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="center-align">Bharath Darshan</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/bharath.jpg' %}" alt="bd" style="display:block;height:auto;width:100%">
                                </div>


                                <div class="col s12">
                                  <p> <span class="black-text">



                                      BHARATH DARSHAN, the festival celebrating the cultural diversity of India has been conducted as regular features of the Annual Calendar of the Students Council. In this students exhibit the different cultural events of all the states of India thereby built an ultimate platform of social and cultural exchange.

                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                       <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="center-align">NITK Film Festival</h3>
                              <div class= "row">
                                <div class="col s12">
                                  <img src="{% static 'site/img/filmfestival.jpg' %}" alt="filmfestival" style="display:block;height:auto;width:100%">
                                </div>


                                <div class="col s12">
                                  <p> <span class="black-text">

                                    A celebration of Cinema. A group of Film Enthusiasts centered at NITK, Surathkal on a debut venture to bring the best of Indian Cinema to the coastal town. Year 2016, marked the inception of NITK Film Festival.<br>

                                     NITK Film's Club has been centered at NITK, Surathkal for the past 30 years and have been screening the best of Indian and International Cinema in the Campus. They have taken it up a notch- To celebrate the grandeur of Cinema, Our own Film Festival. To screen and interact with Filmmakers, Screenwriters from all over the country. For the diverse audience in campus, we bring the best from all genres, languages, documentaries, short films and a lot more.
                                    <br>
                                  </span></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>




	</div>

	<div id="academics">

    <h2 class="center-align"> ACADEMICS </h2>
    <h3 class="center-align"> (FIRST YEAR) </h3>

    <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> PHYSICS CYCLE</h3>

                              <div class="row">
                                <div class="col s12">
                                  <h5>1. Physics - PH111 (4 credits)-</h5>
                                  <p>Physics cycle has 2 4 credit courses. Physics course structure is THE best among all first year courses. You will be introduced to the very famous Einstein’s theory of relativity. The course will go deeper into Quantum Mechanics and Structure of materials. Studying for physics can be challenging.

                                   <br> Rote learning is minimum and decent amount of problem solving and some theoretical proofs. Questions are never by the book and for Physics class notes are a must. Arthur Bieser’s Modern Physics is the go-to book for Physics. You may refer to Ben Streetman and some other reference material for later chapters. Your week will also consist of a tutorial lecture for problem solving.
                                    <br></p>

                                  <h5>2. Physics Lab - PH110 (1 credit)-</h5>
                                  <p>

                                   As for Physics Lab is concerned, there will be a set of 7 experiments which will carry 5 marks each. End Semester for 60 marks and 5 marks for the journal. This is not your college stuff so proper understanding of each experiment is a must. Experiments are handpicked and cover a wide range of topics.<br>
                                  </p>

                                  <h5>3. Computer Programming - CO111 (4 credits)-</h5>

                                   <p>CO110 is the second of the 4 credit family. The course is really simple. You will be taught C programming from the archaic “Hello World”. You can refer any material for this course as it depends mostly on understanding the basics of C. Recommended books would be “Let Us C” by Yeshwant Kanetkar. Books by Gottfried and the legendary Dennis Ritchie are also good.
                                                  <br>
                                    Quizzes are mostly MCQ’s based on a block of code which is generally tricky if you haven’t got your concepts right. Mid Sems and End Sems are based on theory and program writing (which may get a little bit clumsy if your paper is devoid of comments). <br></p>
                                    <h5>4. Computer Lab - CO110 (1 credit) - </h5>

                                   <p> Computer Lab likewise is decently tough. End Sems can be bad if you can’t debug your code in time. The plan of action for each lab session is teacher based and may vary. Basically you will have to code up basic programs to clear your concepts.<br>

                                    P.S—This is an advice from the seniors (: p ). If you have a scheduled a plan for the week for studying, use the time for CO 110 and CO 111 for studying a new language or for competitive programming.<br> </p>

                                    <h5>5. Mechanical Engineering - ME 110 (3 credits)-</h5>

                                   <p> Basics of Mechanical Engineering is a course for which you will require the tools you used for Board Exams- Rote Learning and Speed! Chill, it’s not that bad. Mechanical Engineering is completely based on understanding of concepts. You will encounter the mechanism of Engines, Refrigeration and Boilers. The course is replete with diagrams and formulae. You may land up learning everything but not answering to the point and losing the marks hence. <br>

                                    If you have understood the concepts, it will be evident in your answers. You will have 1-2 workshop sessions for lathe and drilling part. Exams are going to be well, seemingly endless. KR Gopal Krishna is enough. You may receive printed notes from your teachers too.<br></p>

                                    <h5>6. Electronics and Communication Engineering - ECE 110 (3 credits)-</h5>

                                    <p>Welcome to the world of circuits and transistors. EC is one of the toughest disciplines of engineering and its smaller version won’t disappoint you at all. It is a well-designed course to give you fundamental understanding of BJT’s and Logic. Your studies will be mostly dependent on Boylestad and Nashelky for circuits. You may also refer Albert Malvino. For Logic , class notes, if taken properly, should be enough. Exams will comprise of problems, theory and Logic related sums.<br></p>

                                    <h5>5. Humanities - HU110 (1 credit)-</h5>

                                   <p> This series of lectures will generally be small debate sessions. These can be really interesting if your class actively takes part. There is a small test in the end covering some topics. Credit for this course is not calculated for your pointer, but it is mandatory to receive
                                    a satisfactory(S) grade here.<br></p>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">
                              <h3 class="align-left"> CHEMISTRY CYCLE</h3>

                              <div class="row">
                                <div class="col s12">

                                  <h5>1. Chemistry –CY110 (3 credits)-</h5>

                                  <p>The syllabus is split into 2 parts, with 2 or sometimes 3 teachers teaching 1 section. Use the textbook Engineering Chemistry by Gadag and Shetty. For some chapters you may have to refer to other textbooks, available in the library. The problems are usually directly from Gadag and Shetty, so be sure to solve those.<br></p>

                                  <h5>2. Engineering Mathematics-MA110/MA111 (3 credits each)- </h5>

                                  <p>This is there in both cycles and the syllabus is common to both cycles. It’s only calculus, but a lot of it is really new. You should buy the book Thomas’ Calculus by Weir, Hass and Giordano or at least get the pdf. It will be used in both semesters and will quickly be out of stock in the shops in Surathkal. <br>

                                  If you want to borrow it from the library you will have to wait till the mid-sems at least for the library card. The book costs around Rs.800 (first-hand). It is good for theory but the problems are very basic. Refer to your class notes and those of others.<br></p>

                                  <h5>3. Engineering Mechanics-AM110 (3 credits)-</h5>

                                  <p>ApMech covers JEE mechanics (Statics only) at a slightly higher level along with a few new chapters. You can use the textbooks Engineering Mechanics by Bhavikatti and Mechanics of Materials by Beer and Johnston. For the quizzes Bhavikatti and the notes are enough. Usually the sums done in class will be from Beer and Johnston. Go through your class notes for sure before mid-sems and end-sems, the sums will use very similar concepts.<br></p>

                                  <h5>4) Elements of Electrical and Electronics Engineering-EE110 (3 credits)- </h5>

                                  <p>It covers the JEE syllabus like KVL/KCL, moving on to magnetic and AC circuits, 3-phase systems, transformers and induction motors (cue 3 Idiots dialogues in your mind :P). You can refer to Electrical Technology by Edward Hughes. For some chapters the teachers may give printed notes. <br>

                                  However, the best reference for this course is actually the class notes-similar sums come in tests and a wide variety of problems are covered. Remember to check the notes of your friends in other sections for more sums. <br></p>

                                 <h5> 5. Engineering Graphics-ME111 (3 credits)-</h5>

                                  <p>EG can be regarded as a lab course. There will be one Instructions class and one drawing class on consecutive days every week. The concepts are taught in the Instructions class and drawings based on these concepts are to be drawn the following day. There is no theory test. <br>

                                  You will need to buy a mini-drafter, a folder, pencils and erasers, drawing clip, large set squares (which have built-in protractors),
                                  compass and a black sheet to keep under the drawing sheets to prevent them from getting dirty (all available in the cooperative store). You can refer to the book A Textbook of Engineering Graphics by K.R. Gopalakrishna or Engineering Drawing by the same author. <br>

                                  The teacher will give a sheet for every chapter with many problems. You only need to refer to these sheets and your homework and class work. Use the textbooks for different and difficult problems.<br> </p>

                                  <h5>6. Professional Communication-HU110 (3 credits)- </h5>

                                  <p>ProfComm teaches you the elements of organisational, oral and written communication. Each student will have to give a public speech and take part in a group discussion (G.D). Refer to the textbook Technical Communication by Raman and Sharma. Go through the book properly before exams, there is a considerable theory portion in mid-sems and end-sems. Learn letter and résumé formats properly and remember to write fast and NEATLY-this actually helps get better marks (no kidding!), they won’t cut marks for bad handwriting but they might be more lenient if your paper looks neat.<br></p>

                                  <h5>7. Chemistry Laboratory-CY111 (2 credits)-</h5>

                                   <p>Various titrations and some instrumental experiments are performed. The section is divided into 2 batches for this course and each batch has the lab on a different day of the week. A manual with information on each experiment including the theory, procedure and calculations is provided at the beginning of the semester for Rs.10. This is sufficient for the course, but bear in mind that twisted questions are asked in the theory tests for which just learning the manual by rote will not suffice.<br></p>

                                  <h5>8. Environmental Studies-CV110 (1 credit)-</h5>

                                  <p>This is a Mandatory Learning Course. You get either a Satisfactory (S) grade or an Unsatisfactory (N) grade. It doesn’t count towards your Semester Grade Point Average (SGPA). Teachers will either conduct lectures or divide the class into groups to make presentations (more likely).<br><p>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



	</div>


<div id="sports">

  <h2 class="center-align"> SPORTS IN NITK </h2>
  <div class="row">
                          <div class="col s12">
                            <div class="card-panel grey lighten-5">

                              <div class="row">
                                <div class="col s12">

                                <p>  <br><br><br>
                                Did you think that NITK is just a temple of nerds and extracurricular activities like sports and games are not given any kind of attention then think again.<br>

                                NITK offers state of the art sports facilities.  The college sports an Olympic size swimming pool, three tennis courts, two basketball courts, two volleyball courts, full size football and cricket grounds, one hockey field, one handball court, three badminton courts, five T.T tables etc. Other games like Chess and Carrom are also encouraged.<br><br></p>

                                <h5>Swimming Pool:</h5>
                                <p>All students are welcome to register and utilize the facility. But being in a proper swimming attire is a must i.e. swimming costume/trunks + cap. Instructor and life guards are always present. But the registration process is a bit of a pain; the student has to submit a Xerox copy of his/her admission letter in order to get the registration form. <br>

                                Then he/she has to get an approval from a doctor in Health Care Centre saying that he/she is fit for swimming. Swimming wear can be brought by the student or it can also be bought in the store inside the swimming pool. Advice: Maximize its use in summer.<br></p>

                                <h5>Football: </h5>
                                <p>Football is very popular in NITK. Every evening one can find at least 6-8 groups playing football in the ground apart from the college team. Footballs and practice cones can be issued from the sports complex adjacent to the ground by giving your college ID (or Library card). Again Inter collegiate and Inter year tournaments are held. Also there is a special “only freshers” tournament held in the beginning of 1st semester between the twelve 1st year classes. Five a side Beach football is organized during Incident and five a side ‘flood lit’ football tournament is held during Phoenix.
                                  <br>
                                 Inter NIT tournament was held last year and NITK won the Gold medal. Want to get into the college team? Just practice with the
                                team every evening. Selections will be held in the 1st semester.<br>

                                </p>

                                <h5>Basketball:</h5>

                                <p>Basketball: There are two basketball courts. Both of them are in a great condition. One of them is reserved for the college team and should be vacated whenever they come for practice. The other one
                                can be made use of at any time. There are two major competitions that take place on these courts, one is the inter collegiate basketball tournament known as the “Slam dunk” which takes place during
                                Incident, and the other one is the inter year basketball tournament which takes place during crescendo. <br>

                                Inter class freshers tournament is held in the 1st and want to get into the college team just join the team in practice every evening. Selections will be held.<br></p>



                                <h5>Cricket:</h5>

                                <p>Cricket too is very popular in NITK. Cricket bats, balls, stumps etc. can be issued from the complex by giving your college ID. Inter Year and Inter branch tournaments are held. Last year the inter class “mixed” cricket tournament was organized (5 boys + 2 girls required in one team :P). Selections for getting into the College cricket team will be held in either the 1st or 2nd semester.

                                <br></p><h5>Badminton/Table Tennis:</h5>
                                <p>The courts and tables are located inside the sports complex. The complex is open from 6 in the morning to 8 in the evening. One can issue T.T balls and Shuttles from the complex.<br>

                                But one has to bring their own T.T bats and Badminton racquets too play. Inter class badminton and T.T tournament is held at the beginning of 1st semester for the freshers by the Recreational committee.<br></p>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



</div>

<div id="clublife">


          <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
           <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
              <script>
             $(document).ready(function(){

                $("#HOBBY").hide();

              $("#hobbyclubs").click(function(){

                $("#HOBBY").show();
                $("#TECH").hide();

              });

             $("#techclubs").click(function(){

                $("#HOBBY").hide();
                 $("#TECH").show();

             });


          });
            </script>
              <div class="container">
                <div class="center-align">

                <div  id="clubs" class="row">
                  <div class="col s12">
                    <ul class="tabs">
                      <li class="tab col s6" id="techclubs"><a href="">TECH CLUBS</a></li>
                      <li class="tab col s6" id="hobbyclubs"><a href="">HOBBY CLUBS</a></li>
                    </ul>
                  </div>

                </div>


                  <div id="TECH" >
                    <div class="row">
                      <div class="col s12 m6 l6" id="column1">

                          <div id="ieee" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">IEEE</span>
                             <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                      <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                           <div id="csi" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 ">CSI</span>
                             <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                          <div id="iste" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4  left-align">ISTE</span>
                             <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                      <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>


                      </div>
                      <div class="col s12 m6 l6" id="column2">

                        <div id="ie" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">IE</span>
                           <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                           <div id="iet" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">IET</span>
                           <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                          <div id="roto" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">ROTORACT</span>
                               <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>
                      </div>

                    </div>
                  </div>



                  <div id="HOBBY">
                     <div class="col s12 m6 l6" id="column1">

                          <div id="1" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">Music Club</span>
                              <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                           <div id="2" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 ">Artist forun</span>
                              <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                          <div id="3" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4  left-align">Flying club</span>
                              <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>


                      </div>
                      <div class="col s12 m6 l6" id="column2">

                        <div id="4" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">E-cell</span>
                             <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                       <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                           <div id="5" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">flims club</span>
                              <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>

                          <div id="6" class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{% static 'site/img/sample.jpg' %}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4 left-align">ddfc</span>
                            <p class="center-align">
                              <a href="mailto:someone@example.com" target="_top">musicclub@nitk.edu.in</a>
                              <br>
                                     <a href="https://www.google.com"><i class="fa fa-chrome black-text" style="font-size:1rem;"></i></a>
                                      <a href="https://www.google.com"><i class="fa fa-facebook-official black-text" style="font-size:1rem;"></i></a> </p>
                            </div>

                          </div>
                      </div>


            </div>
</div>
</div>


</div>

{% endblock %}
