{% extends "static.html" %}
{% block page-info %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">Meet The Representatives</a>
    </div>
  </div>
  <div class="row">
    <h1 class="title">Meet The Representatives</h1>
  </div>
</div>
{% endblock %}
  {% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var flag=0;
      $("#btech").show();
      $("#mtech").show();
      $("#showbtech").click(function(){
        $("#btech").show();
        flag=1;
      });
      $("#showmtech").click(function(){
        $("#mtech").show();
      });
    })
  </script>
    <div>
    <h3 class="center-align">POSITION HOLDERS</h3>
    </div>
    <div class="container">
     <div class="row center-align">
      <div class="col s12 m4">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">ENGI-CON</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexample@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">PRESIDENT</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexample@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">INCI-CON</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexaghghmple@gmail.com</p>
            </div>
        </div>
      </div>
       <div class="col s12 m4 ">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">GIRLS REP</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexample@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">SECRETARY</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexample@gmail.com</p>
            </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel teal lighten-2 small">
            <div class="card-image">
              <span class="card-title">PG GIRLS REP</span>
              <img class="circle responsive-img" src="http://www.planwallpaper.com/static/images/canberra_hero_image_JiMVvYU.jpg"></img>
            </div>
            <div class="card-content">
            <p>NAME OF PRESIDENT</p>
            <p><i class="tiny material-icons">contact_phone</i> 9876543210</p>
            <p><i class="tiny material-icons">email</i> xyzexample@gmail.com</p>
            </div>
        </div>
      </div>
     </div>
    </div>
    <h3 class="center-align">CLASS REPESENTATIVES</h3>
     <div class="row container">
    <button class="col s12 m12 l12 btn-large waves-effect waves-light red darken-1" id="showbtech">B TECH</button>
    </div>
    <div class="row container">
      <div class="col s12 m12 l12" id="btech">
       <ul class="collapsible" data-collapsible="accordion">
          <li>
              <div class="collapsible-header"><i class=" material-icons">list</i>Final Years
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons biggercircle red">play_arrow</i>
                    <span class="title">Alvin</span>
                    <br>Mech
                    <div class="secondary-content">x@gmail.com<br> 98766543</div><br>
                    Address
                  </li>
                   <li class="collection-item avatar">
                    <i class="material-icons biggercircle">folder</i>
                    <span class="title">George</span>
                    <br>Mech
                    <div class="secondary-content">y@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons biggercircle green">insert_chart</i>
                    <span class="title">Kalyan</span>
                    <br>IT
                    <div class="secondary-content">z@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                </ul>
              </div>
          </li>
          <li>
              <div class="collapsible-header"><i class="material-icons">list</i>Third Years
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons biggercircle red">play_arrow</i>
                    <span class="title">Alvin</span>
                    <br>Mech
                    <div class="secondary-content">x@gmail.com<br> 98766543</div><br>
                    Address
                  </li>
                    <li class="collection-item avatar">
                    <i class="material-icons biggercircle">folder</i>
                    <span class="title">George</span>
                    <br>Mech
                    <div class="secondary-content">y@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                    <li class="collection-item avatar">
                    <i class="material-icons biggercircle green">insert_chart</i>
                    <span class="title">Kalyan</span>
                    <br>IT
                    <div class="secondary-content">z@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">list</i>Second Years</div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons biggercircle red">play_arrow</i>
                    <span class="title">Alvin</span>
                    <br>Mech
                    <div class="secondary-content">x@gmail.com<br> 98766543</div><br>
                    Address
                  </li>
                    <li class="collection-item avatar">
                    <i class="material-icons biggercircle">folder</i>
                    <span class="title">George</span>
                    <br>Mech
                    <div class="secondary-content">y@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                    <li class="collection-item avatar">
                    <i class="material-icons biggercircle green">insert_chart</i>
                    <span class="title">Kalyan</span>
                    <br>IT
                    <div class="secondary-content">z@gmail.com<br>9876654378</div><br>
                    Address
                  </li>
                </ul>
              </div>
          </li>
       </ul>
      </div>
    </div>

  {% endblock %}