{% extends "static.html" %}
{% load staticfiles %}
{% block page-info %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="#!" class="breadcrumb">Student Senate</a>
    </div>
  </div>
  <div class="row">
    <h1 class="title">Student Senate</h1>
  </div>
</div>
{% endblock %}
  {% block content %}
  <br>
    <div class="container">
     <div class="row center-align">
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">PRESIDENT</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexample@gmail.com">xyzexample@gmail.com</a></p>
            </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">SECRETARY</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexample@gmail.com">xyzexample@gmail.com</a></p>
            </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">ENGI-CON</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexample@gmail.com">xyzexample@gmail.com</a></p>
            </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">INCI-CON</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexaghghmple@gmail">xyzexaghghmple@gmail.com</a></p>
            </div>
        </div>
      </div>
       <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">GIRLS REP</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexample@gmail.com">xyzexample@gmail.com</a></p>
            </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 small">
            <div class="card-image">
              <span class="card-title" style="font-weight:bold;font-size:24px;">PG GIRLS REP</span><br><br>
              <img class="circle responsive-img" src="{% static 'site/img/filmfestival.jpg' %}" style="width:160px;height:160px;"></img>
            </div>
            <div class="card-content">
            <br><p style="font-size:18px;">NAME OF PRESIDENT</p>
            <p>9876543210</p>
            <p><a href="mailto:xyzexample@gmail.com">xyzexample@gmail.com</a></p>
            </div>
        </div>
      </div>
     </div>
    </div>
  {% endblock %}