{% extends "static.html" %}
{% block page-info %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<a href="/" class="breadcrumb">Home</a>
			<a class="breadcrumb">Academics</a>
			<a href="#!" class="breadcrumb">Senate Reports</a>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row center-align">

		{% for report in reports %}
		<div class="col s12 m6">
			<a href="{{report.link}}" target="_blank">
				<div class="card blue-grey lighten-4 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text fixed-height-300">
						<h5>{{report.title}}</h5>
						<p> {{report.description}} </p>
					</div>
					<div class="card-action">
              			<p>{{report.date_of_report}}</p>
            		</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}
