<!DOCTYPE html>
{% block html %}
<html lang="en" class="bg-nitk">
{% endblock html %}

{% load staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NITK Student Council</title>

  <!-- Load Core Materialize CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this site -->
  {% block styles %}
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
  {% endblock styles %}

  <!-- Custom tags for the head tag -->
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
  {% block navbar %}
  <div class="navbar-fixed">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NITK SC</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

  {% endblock %}

<div class="page-info">
{% block page-info %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="#!" class="breadcrumb">Page Info 1</a>
            <a href="#!" class="breadcrumb">Page Info 2</a>
        </div>
    </div>
    <div class="row">
        <h1 class="title">Page Header</h1>
    </div>
</div>
{% endblock %}
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

{% block footer %}
  <footer class="page-footer black lighten">
    <div class="container">
            <div class="row">
              <div class="col s12 m6">
                <h5 class="white-text">NITK Student Council</h5>
                <p class="grey-text text-lighten-4">To know more about the Student Council</p>
              </div>
              <div class="col m4 offset-m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
    <div class="footer-copyright">
      <div class="container center">
      Built with <3 at <a class="blue-text text-lighten-3" href="http://ienitk.in">IE-NITK</a>
      </div>
    </div>
  </footer>
{% endblock %}

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

  {% block scripts %}
    <script type="text/javascript">
      $(".button-collapse").sideNav();
    </script>
  {% endblock scripts %}

  </body>
</html>
