<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Smriti 2016</title>

	<!-- Load Core Materialize CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this site -->
	{% block styles %}
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
	<link href="{% static 'site/css/smriti.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	{% endblock styles %}

	<!-- Custom tags for the head tag -->
	{% block extrahead %}{% endblock extrahead %}
</head>
<body>
	{% block navbar %}
	<div class="navbar-fixed">
		<nav class="black" role="navigation">
			<div class="nav-wrapper container">
				<a href="/smriti" class="brand-logo">
					<span class="pad smriti">
						Smriti 2016
					</span>
				</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/smriti/home">My Testimonials</a></li>
					<li><a href="/smriti/feed">Feed</a></li>
					<li><a href="/smriti/browse">Browse</a></li>
					{% if user.is_authenticated %}
					<li><a href="/logout">Logout</a></li>
					{%else%}
					<li><a href="/smriti/">Login</a></li>
					{%endif%}
				</ul>
				<ul id="slide-out" class="side-nav collapsible collapsible-accordion">
					<li class="bold"><a href="/smriti/home" class="collapsible-header waves-effect waves-teal">My Testimonials</a></li>
					<li class="bold"><a href="/smriti/feed" class="collapsible-header waves-effect waves-teal">Feed</a></li>
					<li class="bold"><a href="/smriti/browse" class="collapsible-header waves-effect waves-teal">Browse</a></li>
					{% if user.is_authenticated %}
					<li class="bold"><a href="/logout" class="collapsible-header waves-effect waves-teal">Logout</a></li>
					{%else%}
					<li class="bold"><a href="/smriti/" class="collapsible-header waves-effect waves-teal">Login</a></li>
					{%endif%}
				</ul>
				<a href="" id="sidenav" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
	</div>

	{% endblock %}

	<main>
	{% block content %}
	{% endblock %}
	</main>

	{% block footer %}
	<footer class="page-footer black lighten">
		<div class="footer-copyright">
			<div class="container center">
				Built with <i class="fa fa-heart"></i> at <a class="blue-text text-lighten-3" href="http://ienitk.in">IE-NITK</a>
			</div>
		</div>
	</footer>
	{% endblock %}

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>

	{% block scripts %}
	<script type="text/javascript">
		$(".button-collapse").sideNav();
	</script>
	{% endblock scripts %}

</body>
</html>
