{% extends "smriti/base.html" %}
{% load django_markdown %}

{% load staticfiles %}

{% block content %}
{% if profile.user == user %}
<div class="container">
    <div class="card-panel yellow accent-2 red-text text-darken-2"> Hi!

The Smriti portal is currently closed. Thank you for participating and hope you enjoyed the experience of Smriti-ing! :)<br>

Printed personalized edition of Smriti 2016 will be given out. This will consist of:<br>
1) A yearbook with photos of each person of our batch with name and branch.<br>
2) class group photo with names of each individual as sent by CRs.<br>
3) group photos of trips and events sent by CRs to us<br>

The above 3 will be printed in 100 GSM paper (shoreline type)<br>

 4) A hard cover of 250 GSM.<br>
5)Apart from this all the testimonials you received will also be printed thus making your copy individualized for you in 130 GSM thick certificate type paper.<br>

Cost: Rs.295 if more than 500 people are interested and Rs.348 otherwise. Tried our best to reduce but since it is personalised, the digital printing costs and binding increases significantly. <br>

Collection can be done by you or your friends from Thursday (May 5th) evening onwards or anytime when you come to college (including convocation). <br>

Please note the website will be down by May 10th and if you would like a permanent copy of all the memories shared to you by your friends, please fill the form below. <br>


<a href="http://tinyurl.com/hhyxszc" target="_blank">http://tinyurl.com/hhyxszc</a> </div>
</div>
{% endif %}
<div class="container">
    <section class="container" style="padding-top:15px">
        <div class="row valign-wrapper">
        <div class="col s4">
            <img class="circle responsive-img" src={% if profile.picture %}"/media/{{profile.picture}}" {% else %}  "/static/site/img/presi.jpg" {% endif %}>
        </div>
        <div class="col s8">
        <div class="row">
            <h4>{{profile.user.get_full_name}}</h4>
        </div>
        <div class="row">
            <p>{{profile.bio|default:""}}</p>
        </div>
        </div>
    </section>
    <div class="divider"></div>
  {%for item in testimonials %}
	<div class="row center-align" style="padding-top:10px">
		<div class="col s12 m8 offset-m2 offset-l2">
			<a href="/smriti/testimonial/{{item.id}}">
				<div class="card grey lighten-3 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text">
                        <div class="row valign-wrapper">
                        <div class="col s4">
                            <img class="circle responsive-img" src={% if item.created_by.profile.picture %} "/media/{{item.created_by.profile.picture}}" {% else %}  "/static/site/img/presi.jpg" {% endif %}>
                        </div>
                        <div class="col s8">
                            <h4>{{item.created_by.get_full_name}}</h4>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="container left-align" style="padding-top:10px">
						<p> {{item.description|markdown|truncatechars_html:200}}  </p>
                    </div>
                    </div>
				</div>
			</a>
		</div>
    </div>
    {% endfor %}
    {% if not testimonials|length %}
        <h3 class="center-align">{% if user == profile.user %}You have{%else%}{{profile.user.get_full_name}} has{%endif%} no testimonials yet</h3>
    {% endif %}
 </div>
</div>
{% endblock content %}
