{% extends "smriti/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <h1> My Testimonails </h1>
    <p class="flow-text"> Click on a testimonial to read the complete testimonial </p>
	<div class="row center-align">
		<div class="col s12 m8 offset-m2 offset-l2">
			<a href="resource.link">
				<div class="card grey lighten-3 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text">
                        <div class="row valign-wrapper">
                        <div class="col s4">
                            <img class="circle responsive-img" src="{% static 'site/img/presi.jpg' %}">
                        </div>
                        <div class="col s8">
                            <h4>Anirudh Ganesh</h4>
                        </div>
                    </div>
						<p> resource.description </p>
					</div>
				</div>
			</a>
		</div>
    </div>
    <div class="row center-align">
		<div class="col s12 m8 offset-m2 offset-l2">
			<a href="resource.link">
				<div class="card grey lighten-3 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text">
                        <div class="row valign-wrapper">
                        <div class="col s4">
                            <img class="circle responsive-img" src="{% static 'site/img/presi.jpg' %}">
                        </div>
                        <div class="col s8">
                            <h4>Anirudh Ganesh</h4>
                        </div>
                    </div>
						<p> resource.description </p>
					</div>
				</div>
			</a>
		</div>
    </div>
    <div class="row center-align">
		<div class="col s12 m8 offset-m2 offset-l2">
			<a href="resource.link">
				<div class="card grey lighten-3 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text">
                        <div class="row valign-wrapper">
                        <div class="col s4">
                            <img class="circle responsive-img" src="{% static 'site/img/presi.jpg' %}">
                        </div>
                        <div class="col s8">
                            <h4>Anirudh Ganesh</h4>
                        </div>
                    </div>
						<p> resource.description </p>
					</div>
				</div>
			</a>
		</div>
    </div>
</div>
{% endblock content %}
