{% extends "smriti/base.html" %}
{% load django_markdown %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <section class="container" style="padding-top:15px">
        <div class="row valign-wrapper">
        <div class="col s4">
            <img class="circle responsive-img" src="/media/{{profile.picture}}">
        </div>
        <div class="col s6">
            <h4>{{profile.user.get_full_name}}</h4>
        </div>
        <div class="col s2">
            <a class="btn-floating btn-large waves-effect waves-light teal lighten-3"><i class="material-icons">add</i></a>
        </div>
    </section>
    <div class="divider"></div>
  {%for item in testimonials %}
	<div class="row center-align" style="padding-top:10px">
		<div class="col s12 m8 offset-m2 offset-l2">
			<a href="/smriti/testimonial">
				<div class="card grey lighten-3 waves-effect waves-block waves-light custom-card valign-wrapper">
					<div class="card-content black-text">
                        <div class="row valign-wrapper">
                        <div class="col s4">
                            <img class="circle responsive-img" src="{% static 'site/img/presi.jpg' %}">
                        </div>
                        <div class="col s8">
                            <h4>{{item.created_by.get_full_name}}</h4>
                        </div>
                    </div>
						<p> {{item.description|markdown|truncatechars_html:200}}  </p>
					</div>
				</div>
			</a>
		</div>
    </div>
    {% endfor %}
 </div>
</div>
{% endblock content %}
