{% extends "smriti/base.html" %}

{% load staticfiles %}
{% load django_markdown %}
{% block content %}
<div class="container">
    <section class="container" style="padding-top:15px">
        <div class="row valign-wrapper">
        <div class="col s4">
            <img class="circle responsive-img" src={% if to.picture %}"/media/{{to.picture}}" {% else %}  "/static/site/img/presi.jpg" {% endif %}>
        </div>
        <div class="col s8">
            <h4>{{to.user.get_full_name}}</h4>
        </div>
        </div>
    </section>
    <div class="divider"></div>
    <form class="col s12" action='/smriti/write/{{to.rollno}}' method='POST'> {% csrf_token %}

        <div class="card white lighten-2 lighten-3  waves-block waves-light valign-wrapper z-depth-2" style="padding:20px">
        <div class="row">
        <div class="input-field col s12 m8 offset-l2">
                 {% if testimonial %}
             <textarea id="icon_prefix" type="text" name="content" class="validate materialize-textarea">
                    {{testimonial.description}}
             </textarea>
                {% else %}
             <textarea id="icon_prefix" type="text" name="content" class="validate materialize-textarea"></textarea>
                {% endif %}
         </div>
        </div>
         <div class="row center-align">
             <button class="btn-large waves-effect waves-light green-lighten-2" type="submit" name="action">
                 Submit
             </button>
         </div>
        </div>
      </div>
    </form>
</div>
{% endblock content %}
