{%  extends 'clubs/base.html' %}

{%  block title %}Club details{%  endblock %}
{% block body %}
    <img src="{{ club.club_logo }}" width="200" height="200">
    <h1>{{ club.club_name }}</h1>
    <p>{{ club.club_description}}</p>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {%  endif %}

    {%  for event in club.event_set.all %}
            <label for="event{{ forloop.counter }}">
            <a href="{%  url 'clubs:event' event.id %}"><h3>{{ event.event_title }}</h3></a>
            </label>
            <br>
        {%  endfor %}

{% endblock %}	